@model KHSC_Jasper.Models.StudentPayment

@{
    ViewData["Title"] = "Details";
}
<link href="~/css/form.css" rel="stylesheet" />
<link href="~/css/table.css" rel="stylesheet" />
<h2>Details</h2>

<div>
    <h4>StudentPayment</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Date)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Date)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmissionFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmissionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReAdmissionFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReAdmissionFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TcCharge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TcCharge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.SeasonCharge)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.SeasonCharge)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CertificateFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CertificateFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.TestimonialFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.TestimonialFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WhichMonthFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WhichMonthFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.MonthFeeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.MonthFeeAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ct1Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ct1Fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Ct2Fee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Ct2Fee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.HalfYearlyFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.HalfYearlyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FinalYearlyFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FinalYearlyFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.WaterElectricityFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.WaterElectricityFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Tex)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Tex)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.DevlopmentFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.DevlopmentFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.BuildingDevFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.BuildingDevFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LabFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LabFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LibraryFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LibraryFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ComputerFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ComputerFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.RegistrationFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.RegistrationFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CautionMoney)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CautionMoney)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Fine)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Fine)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ReportCardFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ReportCardFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AdmitCardFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AdmitCardFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.IdCardFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.IdCardFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFillUpEFf)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFillUpEFf)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFillUpJsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFillUpJsc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFillUpSsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFillUpSsc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FormFillUpHsc)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FormFillUpHsc)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ItFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ItFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.ScienceDevelopmentFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ScienceDevelopmentFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.CareFee)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.CareFee)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherFeeName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherFeeName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.OtherFeeAmount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.OtherFeeAmount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Student)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Student.StudentName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.SpId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
